/* Custom */
body{
  background: #f4f4f4;
  /* For the navbar-fixed-top: */
  padding-top: 50px;
}

.main-color-bg{
  background-color: #D7CEC7 !important;
  border-color: #D7CEC7 !important;
  /* min-height: 32px !important; */
  /* border-radius: 0; */
  /* color: #333333; */
}

/* Navbar */
.navbar{
  /* min-height: 32px !important; */
  border-bottom: 0;
  margin-bottom: 0;
  /* border-radius: 0; */
}

.navbar-nav > li > a, .navbar-brand{
  /* padding-top: 6px !important; */
  /* padding-bottom: 0 !important; */
  /* height: 32px; */
}

.navbar-default {
  background-color: #4f153e;
  border-color: #bfaab9;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #AEADAE;
}
.navbar-default .navbar-text {
  color: #eadce8;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #AEADAE;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #F3F2F3;
  background-color: #95728B;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f0f0f0;
  background-color: #bfaab9;
}
.navbar-default .navbar-toggle {
  border-color: #bfaab9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #bfaab9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eadce8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eadce8;
}
.navbar-default .navbar-link {
  color: #eadce8;
}
.navbar-default .navbar-link:hover {
  color: #f0f0f0;
}

#admin{
    color: #f0f0f0;
}

/* Header */
#header, header small{
  background: #78244c;
  color: #ffffff;
  padding-bottom:10px;
  margin-bottom: 20px;
}

#header .create{
  padding-top:20px;
}

/* Breadcrumb */
/*.breadcrumb{*/
/*  background: #cccccc;*/
/*  color:#333333;*/
/*}*/

/*.breadcrumb a{*/
/*  color: #333333;*/
/*}*/

#content{
  width: 550px;
  height: 300px;
}

#title{
  width: 550px;
  height: 40px;
}

/*footer*/
footer{
    background-color: #2d2d30;
    color: white;
    padding: 30px;
    width: 100%;
    margin: auto;
    bottom: 0;
    position: absolute;
}

footer a {
    color: white;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #AEADAE;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #AEADAE;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #F3F2F3;
    background-color: #95728B;
  }
}

/* Need a responsive design for the .create-content button */
